body {
    background-image: url("./assets/designer.png");
    background-size: cover;
    overflow: scroll;
    scroll-behavior: smooth;
    
}
#body {
    height: 100vh;
    overflow: scroll;
}
#heroimg{
    height: 50vh;
    width: 100vw;
    font-size: 250%;
    color: var(--headercolor);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    background-color: rgba(8, 8, 8, 0.699);
    backdrop-filter: blur(3px);
}



#mainheader {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    background-color:var(--headerbg);
    color: white;
    padding: 0px 20px;
    font-weight: bolder;
    z-index: 5;
}

#logobox{
  color: white;
  width: 25%;
  align-items: flex-start;
}

#logoimg{
  height:5vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#header {
    width: clamp(500px,70%,700px);
}


#content {
    height: 80vh;
    background-color: var(--background-shade);
}
#footer {
    height: 10vh;
    width: 100%;
    color: var(--darkbgfontcolor);
    background-color: var(--headerbg);
    backdrop-filter: blue(25px);
}
.headeritem{
    height: 70%;
    width: 20%;
    background-color: rgba(245, 222, 179, 0);
}
#welcometext{
    width: 30%;
    font-size: 170%;
    font-weight: bold;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-align: center;
    color: var(--headercolor);
    transition-duration: 500ms;
}

#welcometext h5 {
    color: var(--headercolor2);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}



iframe {
    background-color: var(--background-shade);
    width: 69%;
    height: calc(100% - 5px);
    padding: 12px;
    border-radius:calc(var(--brad)*9);
}

.footeritem {
    height: 90%;
    background-color: rgba(0, 128, 0, 0.185);
}


#footer1 {
    width: 90%;
    height: 60%;
}
#footer2{
    width: 90%;
    font-size:60%;
    height:30%;
    text-align: center;
}
#footer2 a {
    color: white;
}
#footer2 span {
    color: rgb(255, 0, 0);
}

#mheader ,#menubar{
     display:none;
}

@media only screen and (max-width: 600px) {
 #footer, #header, #content {
    height: fit-content;
 }
 #welcometext{
    width: 90%;
    padding: 20px 0px;
    font-size: 100%;
 }
 #content{
    flex-direction: column;
    width: 100vw;
 }
 #contentframe{
    width: 98%;
    min-height: 38vh;
    overflow:none;
    margin-bottom: 2vh;
 }
 .headeritem{
    width: 30%;
    padding: 10px;
    font-size: 120%;
}
 iframe {
    height: 68vh;
 }

 .footeritem{
    width: 150px;
    font-size: 110%;
    padding: 10px;
 }

 #header , .headeritem{
    display: none;
 }
 #mheader {
    display:none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 0px;
    padding: 20px;
    font-size: 180%;
    backdrop-filter: blur(10px);
    z-index: 5;
    background-color: rgba(1, 1, 66, 0.9466);
    border-radius: 10px 0px 0px 10px;
    margin-top: 10vh ;
}
#menubar{
    display:flex;
    flex-direction: column;
    width: 20vw;
    font-size: 300%;
    background-color: rgba(255, 222, 173, 0);
} 

#heroimg{
    font: size 300%;
    text-align: center;

}

 }