body{
        padding: 20px;
        width: clamp(100px,90vw,800px);
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    
}
header {
    font-size: x-large;
    text-align: left;
    padding: 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(7, 48, 82);
}
section{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
h2{
    color: rgb(7, 48, 82);
    padding: 10px;
}
strong {
    padding-right: 10px;
    color: rgb(7, 48, 82);
}
ul{
    background-color: rgb(185, 185, 185);
    border-radius: 3px;
}

li{
    padding: 10px;
}
li:nth-child(even){
   background-color: rgba(255, 255, 255, 0.075);
}
li:nth-child(odd){
   background-color: rgba(165, 171, 255, 0.075);
}

::-webkit-scrollbar{
    display: none;
}