body {
    padding: 20px;
    width: clamp(100px,90vw,800px);
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: x-large;
    text-align: left;
    padding: 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(7, 48, 82);
}

.txt {
    padding-left: 50px; 
}

table {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.13);
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.226);
}
td:nth-child(1){
    background-color: rgba(0, 0, 0, 0.226);
}
