body {
    padding: 20px;
    width: clamp(100px,90vw,800px);
    margin-left: auto !important;
    margin-right: auto !important;
    overscroll-behavior: none;
}

.title {
    font-size: x-large;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(5, 108, 192);
    padding-top: 20px;
}

p {
    padding-left: 10px;
}

[data-bs-theme="dark"] .title {
    color: #00ffdd;
}

.txt {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.13);
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.226);
}
td:nth-child(1){
    background-color: rgba(0, 0, 0, 0.226);
}
::-webkit-scrollbar{
    display: none;
}